html,
body {
    height: 100%
}
h1.sign-logo{
    font-size: 2.4rem;
}
.sidemenu.organization_name,
.sidemenu.username{
    font-size: 2.4rem;
}
.center-panel {
    margin-left: 15%;
}
#center-panel .row-fluid {
    overflow: auto;
}
#center-panel .large {
    height: 400px;
    padding: 10px;
    background-color: #f17f49
}
#desktop-nav {
    background: black;
    position: fixed;
    width: 220px;
    height: 100%;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1) inset;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 3em;
    top:0;
    left: 0;
}
#footer {
    position: fixed;
    bottom: 0;
    line-height: 35px;
    padding-left: 13px;
}
#footer li a {
    color: white;
    font-size: 13px;
    font-weight: bold;
}
@media (max-width: 1280px) {
    #footer li a {
        color: white;
        font-size: 12px;
        font-weight: bold;
    }


    .padding-left{
        padding-left: 25px;
    }
}
@media (max-height: 640px) {
    #footer{
        position:relative;
        padding: 0;
        padding-left: 13px;
        overflow: auto;
    }

}

nav.mobile-navbar{
    position: fixed;
    top:0;
    width: 100%;
}
.mobile-menu{
    position: relative;
    height: 44px;
    width: 100%;
    background: black;
}
ul.vertical-menu{
    position: absolute;
    top:100%;
    margin: 0;
    padding: 0;
    width:100%;
    display:none;
}
ul.vertical-menu li a{
    font-size: 1.6rem;
    color: #9d9d9d;
    font-weight: 700;
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
}
ul.vertical-menu li.vertical-menu-item{
    background: black;
    width: 100%;
    text-align: center;
}
#mobile-button{
    position: absolute;
    font-size: 2rem;
    color: white;
    z-index: 11;
    margin: 10px;
}
.mobile_organization_name{
    position: absolute;+
z-index: 11;
    font-size: 1.8rem;
    font-weight: 700;
    color: #9d9d9d;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: .5em;
}
#mobile-button:hover{
    cursor: pointer;
}
.mobile-org-name{
    display: none;
}
.beta-mobile{
    position: relative;
    bottom: 5px;
}
.border{
    margin-bottom: 15px;
}

/*Navbar new style*/

@media (min-width: 1200px) {


    #sidebarBtn{
        z-index: 20;
    }

    .navbar.close-sidebar{
        background: transparent;
        width: 50px;
    }
    button.navbar-toggle.close-sidebar{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
    }
    .desktop.close-sidebar,
    .navbar-nav.close-sidebar,
    #footer.close-sidebar{
        display: none;
    }
    body.not-logged-in{
        padding: 0;
    }
    body.logged-in{
        padding-left: 220px;
    }

    body.logged-in.close-sidebar{
        padding-left:0px;
    }
    .navbar{
        z-index: 1;
    }
    .mobile{
        display: none;
    }
    .org{
        font-size: 2.6rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .usr{
        font-size: 2rem;
    }
    .org,.usr{

        color: #7d7d7d;
        font-weight: 700;
        padding-left: 15px;
    }
    .navbar-inverse .navbar-nav>li>a {
        text-shadow:none;
    }
    .navbar-nav>li>a {
        text-shadow: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #7d7d7d;
    }
    .navbar{
        position: fixed;
        width: 220px;
        height: 100%;
        top: 0;
        left: 0;
    }
    .navbar-nav {
        float:none;

    }
    .navbar-header{
        float: none;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
        color: white;
        background: #393939;
    }
    .navbar-inverse {
        border-color: transparent;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #eeeeee;
        color: #ef7700;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    [data-target="#transcript"],
    [data-target="#graph"]{
        height: 6.8em;
    }
    #sidebarBtn{
        z-index: 20;
    }
    .navbar.close-sidebar{
        background: transparent;
        width: 50px;
    }
    button.navbar-toggle.close-sidebar{
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
    }
    .desktop.close-sidebar,
    .navbar-nav.close-sidebar,
    .footer.close-sidebar{
        display: none;
    }
    body.login,body.forget{
        padding: 0;
    }
    body.logged-in{
        padding-left: 220px;
    }

    body.logged-in.close-sidebar{
        padding-left:0px;
    }
    .navbar{
        z-index: 1;
    }
    .mobile{
        display: none;
    }
    .org{
        font-size: 2.6rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .usr{
        font-size: 2rem;
    }
    .org,.usr{

        color: #7d7d7d;
        font-weight: 700;
        padding-left: 15px;
    }
    .navbar-inverse .navbar-nav>li>a {
        text-shadow:none;
    }
    .navbar-nav>li>a {
        text-shadow: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #7d7d7d;
    }
    .navbar{
        position: fixed;
        width: 220px;
        height: 100%;
        top: 0;
        left: 0;
    }
    .navbar-nav {
        float:none;

    }
    .navbar-header{
        float: none;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
        color: white;
        background: #393939;
    }
    .navbar-inverse {
        border-color: transparent;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #eeeeee;
        color: #ef7700;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    [data-target="#transcript"],
    [data-target="#graph"]{
        height: 6.8em;
    }
    .tab-content{
        overflow: auto;
    }

    #attendance_and_behavior,
    #program_participation,
    #transcript{
        width: 1869px;
    }

    .top-space {
        position: relative;
        top:0!important;
    }

    td{
        text-align: right;
        padding-right: 20px!important;

    }

    td:before{
        float: left;
    }

    .usr{
        font-size: 2rem;
        padding:5px 0 5px 0;
    }

    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }

    .collapse.in {
        display: block!important;
    }
    .navbar-nav>li>a {
        text-shadow: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #7d7d7d;
        text-align: center;
    }
    .navbar-nav {
        float: none;
        margin: 0;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
    .navbar-collapse:before,
    .navbar-collapse:after,
    .nav:before,
    .nav:after{
        content: none;
    }
    .navbar-nav {
        margin: 7.5px -15px;
    }
    .navbar-header{
        float: none;
    }
    .navbar-toggle{
        display: block;
    }
    .navbar-nav>li {
        float: none;
    }

    .nav>li {
        position: relative;
        display: block;
    }

    tr{
        margin-bottom: 15px;
    }

    td.text-center{
        text-align: right;
        padding-right: 20px!important;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        border-top: none !important;
        /*padding: 16px 55% !important;*/
    }

    #sidebarBtn{
        z-index: 20;
    }
    .mobile-align-center{
        text-align: center;
    }
    .version{
        margin-bottom: 10px!important;
    }
    .card{
        padding: 0 10px!important;
    }
    .input-search {
        margin-bottom: 20px;
    }
    body.login,body.forget{
        padding: 0;
    }
    body.logged-in{
        padding-left: 0px;
    }

    .desktop{
        display: none;
    }
    .org{
        font-size: 2.6rem;
        transform: translateY(5px);
    }
    .usr{
        font-size: 2rem
    padding:5px 0 5px 0;
    }
    .beta{
        position: relative;
        top: -3px;
    }
    .org,.usr{

        color: #7d7d7d;
        font-weight: 700;
        text-align: center;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #eeeeee;
        color: #ef7700;
        text-shadow:none;
    }
    .navbar-nav>li>a {
        text-shadow: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #7d7d7d;
        text-align: center;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
        color: white;
        background: #393939;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .nav-justified>li>a {
        margin-bottom: 1px;
        text-align: center;
    }

    .nav-tabs.nav-justified>li>a {
        margin-bottom: 1px;
        text-align: center;
    }

    .tab-content{
        overflow: auto;
    }

    #attendance_and_behavior,
    #program_participation,
    #transcript{
        width: 1869px;
    }

    td{
        text-align: right;
        padding-right: 20px!important;
    }

    td:before{
        float: left;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        border-top: none !important;
        /*padding: 16px 55% !important;*/
    }

    #sidebarBtn{
        z-index: 20;
        background: #3b3b3b;
    }
    .mobile-align-center{
        text-align: center;
    }
    .version{
        margin-bottom: 10px!important;
    }
    .card{
        padding: 0 10px!important;
    }
    tr{
        margin-bottom: 15px;
    }
    td.text-center{
        text-align: right;
        padding-right: 20px!important;
    }
    .input-search {
        margin-bottom: 20px;
    }
    .top-space {
        position: relative;
        top:0!important;
    }
    .btn{
        width: 100%;
    }
    body.login,body.forget{
        padding: 0;
    }
    body.logged-in{
        padding-left: 0px;
    }
    .desktop{
        display: none;
    }
    .org{
        font-size: 2.6rem;
        transform: translateY(5px);
    }
    .beta{
        position: relative;
        top: -3px;
    }
    .usr{
        font-size: 2rem;
        padding:5px 0 5px 0;
    }
    .org,.usr{

        color: #7d7d7d;
        font-weight: 700;
        text-align: center;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #eeeeee;
        color: #ef7700;
        text-shadow:none;
    }
    .navbar-nav>li>a {
        text-shadow: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #7d7d7d;
        text-align: center;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
        color: white;
        background: #393939;
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .nav-justified>li>a {
        margin-bottom: 1px;
        text-align: center;
    }

    .tab-content{
        overflow: auto;
    }

    #attendance_and_behavior,
    #program_participation,
    #transcript{
        width: 1869px;
    }

    td{
        text-align: right;
        padding-right: 20px!important;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        border-top: none !important;
        /*padding: 16px 55% !important;*/
    }

    #sidebarBtn{
        z-index: 20;
    }
    .mobile-align-center{
        text-align: center;
    }
    .version{
        margin-bottom: 10px!important;
    }
    .card{
        padding: 0 10px!important;
    }
    tr{
        margin-bottom: 15px;
    }
    td.text-center{
        text-align: right;
        padding-right: 20px!important;
    }
    .input-search {
        margin-bottom: 20px;
    }
    .top-space {
        position: relative;
        top:0!important;
    }
    .btn{
        width: 100%;
    }
    body.login,
    body.forget{
        padding: 0;
    }
    body{
        padding-left:0;
    }
    .org{

        font-size: 2rem;
        transform: translateY(12px);
    }
    .usr{
        font-size: 2rem;
        padding:5px 0 5px 0;
    }
    .beta{
        position: relative;
        top: -3px;
    }
    .desktop{
        display: none;
    }
    .org,.usr{
        color: #7d7d7d;
        font-weight: 700;
        text-align: center;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #eeeeee;
        color: #ef7700;
        text-shadow:none;
    }
    .navbar-nav>li>a {
        text-shadow: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: #7d7d7d;
        text-align: center;
    }
    .navbar-inverse .navbar-toggle {
        border-color: transparent;
        color: white;
        background: #393939;
    }
}