@media (max-width: 1280px) {
    #login-container{
        left:4.5%;
        width:37%;
    }
}

@media (max-width: 1204px) {
    #login-container{
        left:4.5%;
        width:40%;
    }
}

.login-page-mobile{
    margin:0!important;
    padding:0!important;
    width:100%!important;
    left:0%!important;
    top: 100px!important;
}

@media(max-width: 1200px){
    .login-btn,.forgot-btn{
        font-size: 10px;
        letter-spacing: 1px;
        padding:3px 5px!important;
    }
    .forgot-btn.padding{
        padding-top: 4px!important;
        padding-bottom: 5px!important;
    }
}

.send-password,.back-to-login{
    font-size: 11px!important;
    letter-spacing: 1px;
    padding: 3px 2px !important;
}
.forgot-btn.padding{
    padding-top: 4px!important;
    padding-bottom: 5px!important;
}

.back-to-login.padding{
    padding-top: 6px!important;
    padding-bottom: 7px!important;
}
.login-btn,.forgot-btn{
    font-size: 15px;
    letter-spacing: 1px;
    padding: 3px 5px!important;
}
#login-error-message{
    padding: 10px;
}

.visible-off{
    visibility: hidden!important;
}

.visible-on{
    display: block!important;
}
.add-pad{
    padding: 10px!important;
}
.remove-pad{
    padding: 0!important;
}